{{> header}}
{{> nav}}

<h1 style="margin: 20px;text-align: center;">All Users </h1>

<div id="big-user-div">
{{#if users}}
{{#each users}}

<div id="big-user-small-div">
<a href="/users/show/{{name}}">
    <div id="user-div" >
        <h2>{{name}} <i class="fa fa-user" aria-hidden="true"></i></h2>
    </div>
</a>
</div>
{{/each}}
{{/if}}
</div>

{{> footer}}