{{> header}}
{{> nav}}

<h1 style="margin: 20px;">All Users </h1>


{{#if users}}
{{#each users}}

<a href="/users/show/{{name}}">
    <div id="user-div" >
        <h2>{{name}}</h2>
    </div>
</a>
{{/each}}
{{/if}}


{{> footer}}