{{> header}}
{{> nav}}

<h1>Welcome {{user}} <br>Add, Delete or Update a book!</h1>

<a href="/books/add" style="font-size: 23px;margin: 20px;color: coral;">Click here to add new Book!</a>

<form action="/users/logout" method="POST" style="margin-top: 20px;">
    <button type="submit">Logout</button>
</form>


{{> footer}}