{{> header}}
{{> nav}}

<div style="margin: 20px;">
<h1>Login</h1>

{{#if success_msg}}
<h3 style="color: green;">{{success_msg}}</h3>
{{/if}}
{{#if successFlash}}
<h3 style="color: green;">{{successFlash}}</h3>
{{/if}}
{{#if error}}
<h3 style="color: red;">{{error}}</h3>
{{/if}}
{{#if error_msg}}
<h3 style="color: red;">{{error_msg}}</h3>
{{/if}}
</div>
<div id="register-form">
    <form action="/users/login" method="POST">
        <div>
            <label for="name">Email: </label>
            <input type="email" name="emailLogin" required>
        </div>
        <div>
            <label for="name">Password: </label>
            <input type="password" name="passwordLogin" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>

    </form>
</div>
    <a href="/users/register" style="margin: 20px;">Dont have an accont? <strong>Register</strong></a>

{{> footer}}